body{
    margin: 0;
    padding: 0;
    background-image: url('blackjackgreenplain.jpg');
    
    background-size: cover;
}

h1 {
    font-size: 50px;
    margin-top: 50px;
    color: #f39c12;
}

/* Button Styles */
button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c0392b;
}

/* Text Styles */
p {
    font-size: 1.5rem;
    margin: 15px;
}

#message-el {
    font-size: 1.8rem;
    font-weight: bold;
}

.cardsContainer {
    display: flex;
    flex-direction: column;
    border: 1px, solid, red;
}

.houseCardsContainer {
   
    width: 50%
}

.playerCardsContainer {
    width: 50%;
    
}

